<!-- Start of Woopra Code -->
<script>
(function(){
        var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
})("woopra");

woopra.config({
    domain: 'larutadelacebada.com'
});
woopra.track();
</script>
<!-- End of Woopra Code -->

<header class="intro">
  {% if page.image %}
    {% assign intro_image = page.image.path | default: page.image %}
    {% unless intro_image contains '://' %}
      {% assign intro_image = intro_image | relative_url %}
    {% endunless %}
    {% assign intro_image = intro_image | escape %}
    <div class="intro-image">
      <img src="{{ intro_image }}" alt="{{ page.title }}">
    </div>
  {% endif %}

  <div class="inner">
    <div class="intro-text">
      <h1 class="intro-title">{{ page.alt_title | default: page.title | default: site.title | markdownify | strip_html }}</h1>
      {% if page.sub_title %}
        <p class="intro-subtitle">{{ page.sub_title | markdownify | strip_html }}</p>
      {% endif %}

      {% if page.date %}
        {% include author %}
        <p class="entry-meta">
          {% if author_name %}<span class="byline-item">{{ author_name | prepend: 'by ' }}</span>{% endif %}<span class="byline-item"><span class="icon">{% include icon-calendar.svg %}</span><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></span>{% if page.read_time %} <span class="byline-item"><span class="icon">{% include icon-stopwatch.svg %}</span>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</span>{% endif %}
        </p>
      {% endif %}

      {% if page.introduction %}
        <div class="intro-more">
          {{ page.introduction | markdownify }}
        </div>
      {% endif %}

      {% if page.actions %}
        <ul class="intro-actions">
          {% for action in page.actions %}
            <li><a href="{{ action.url }}" class="btn">{% if action.icon %}<span class="icon">{% include {{ action.icon | prepend: 'icon-' | append: '.svg' }} %}</span>{% endif %}{{ action.label }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</header>
